body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: linear-gradient(to bottom, #aaf7e0 0%, #ffffff 100%);
}

.card-header {
  background-color: #ffcc80;
}

.btn-link {
  color: #333;
  text-decoration: none;
}

.btn-link:hover {
  color: #666;
  text-decoration: none;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body p {
  line-height: 1.6;
}

.card-body ul {
  list-style-type: none;
  padding-left: 0;
}

.card-body ul li {
  margin-bottom: 10px;
}

.card-body ul li::before {
  content: "\2022";
  color: #ffcc80;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.card-body a {
  color: #ff5722;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}

.footer-social-icons a {
  margin-right: 15px;
  color: #333;
}

.footer-social-icons a:hover {
  color: #666;
}

@media (max-width: 768px) {
  header h1,
  .logoImagen3 {
    text-align: center;
    position: static;
  }

  .logoImagen3 {
    margin-top: 15px;
  }
}

/* Estilo para el botón fijo */
.floating-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
}

/* Estilo para la caja de chat */
.chat-box {
  position: fixed;
  bottom: 80px; /* Ajusta esto según el tamaño del botón de acción */
  right: 25px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 998;
}


